body{
    background-color:#c2ffe4;
    margin-top: 5rem;
    font-family: 'Handlee', cursive;
}

.calendar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.holidays {
    background-color: #00ff95;
}

.react-calendar{
    border-radius: 1rem;
}

.react-calendar__tile{
    font-family: 'Handlee', cursive;
}

